<h4>{{ item.title }}</h4>
<div class="editor from">
  <div class="editor-frame">
    <div class="editor-header">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="editor-content">
    <div class="tabset">
      <div class="ulist tabs">
        <ul>
          {% for file in item.contents.from.files %}
            <li>
              <p><a id="tabset{{ item.contents.from.index }}{{ file.name }}"></a>{{ file.name }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="content">
        {% for file in item.contents.from.files %}
          <div class="tab-pane" aria-labelledby="tabset{{ item.contents.from.index }}{{ file.name }}">
            {{ file.contents | safe }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{{ item.contents.from.explanation | safe }}
<h4>AsciiDoc</h4>
<div class="editor to">
  <div class="editor-frame">
    <div class="editor-header">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="editor-content">
    <div class="tabset">
      <div class="ulist tabs">
        <ul>
          {% for file in item.contents.to.files %}
            <li>
              <p><a id="tabset{{ item.contents.to.index }}{{ file.name }}"></a>{{ file.name }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="content">
        {% for file in item.contents.to.files %}
          <div class="tab-pane" aria-labelledby="tabset{{ item.contents.to.index }}{{ file.name }}">
            {{ file.contents | safe }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{{ item.contents.to.explanation | safe }}
